nav {
  text-align: left;
  background-color: #FF8000;
  color: black;
  font: 400;
}

/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: rgb(221, 142, 67); /* Black */
  overflow-x: hidden; 
  padding-top: 20px;
}

.img-adj {
  width: 100%;
  height: auto;
  max-width: none;
}

body {
background-color: black;
}

p {
  color: #FF8000;
}